$def with(v)

$v['res'].add('discuss/list','css')

<div class="discuss_list">
	<div class="list_container">
		<div class="header">
			<span class="author">作者</span>
			<span class="pnum">题号</span>
			<span class="title">标题</span>
			<span class="reply_count">回复</span>
			<span class="last_reply">最后回复</span>
		</div>
		<div class="list">
			$for i in v['iter']:
				<div class="item">
					<span class="author">
						<a href="/user/Homepage?uid=$i['topic_ui.uid']">
							$i['topic_ui.nickname']
						</a>
					</span>
					<span class="pnum">
						$if i['pn.pnum'] is None:
							无
						$else:
							<a href="/problem/Detail?pnum=$i['pn.pnum']"/>$i['pn.pnum']</a>
					</span>
					<span class="title">
						<a href="/discuss/Topic?id=$i['id']">
							$i['title']
						</a>
					</span>
					<span class="reply_count">$i['COUNT(count_dr.id)']</span>
					<span class="last_reply">
						$if i['last_dr.id'] is None:
							<span class="time">-</span>
							<span class="user"></span>
						$else:
							<span class="time">$v['util'].funs.timeStamp2Short(i['last_dr.ctime'])</span>
							<span class="user">
								<a href="/user/Homepage?uid=$i['last_dr_ui.uid']">
									$i['last_dr_ui.nickname']
								</a>
							</span>
					</span>
				</div>
		</div>
	</div>
	<div class="button_links">
		<a href="/discuss/PostTopic?pnum=$v['pnum']">发表新主题</a>
		$if v['pnum'] >= 0 :
			<a href="/problem/Detail?pnum=$v['pnum']">返回题目</a>
	</div>
</div>
