$def with(v)

$v['res'].add('jquery')

$v['res'].add('discuss/topic','css')
$v['res'].add('discuss/topic')

<script type="text/javascript">
var topic_id = $v['topicInfo']['id'];
</script>

<div class="discuss_topic">
	<div class="topic_headblock">
		<span class="topic_title">$v['topicInfo']['title']</span>
	</div>
	<div class="building">
		<div class="floor">
			<div class="common_layout_column floor_left_column">
				<div class="user_panel">
					<div class="avatar_block">
						<img class="avatar" src="${v['topicInfo']['ui.avatar'] or '/static/image/meteor.jpg'}" alt="avatar" />
					</div>
					<div class="nickname">
						<a href="/user/Homepage?uid=$v['topicInfo']['ui.uid']">
							$v['topicInfo']['ui.nickname']
						</a>
					</div>
				</div>
			</div>
			<div class="common_layout_column floor_right_column">
				<div class="floor_text">$v['topicInfo']['text']</div>
				<div class="floor_right_bottom">
					<div class="floor_count">1楼</div>
					<div class="floor_time">$v['util'].funs.timeStamp2Str(v['topicInfo']['ctime'])</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		$for reply in v['aReplyIter']:
			<div class="floor">
				<div class="common_layout_column floor_left_column">
					<div class="user_panel">
						<div class="avatar_block">
							<img class="avatar" src="${reply['ui.avatar'] or '/static/image/meteor.jpg'}" alt="avatar" />
						</div>
						<div class="nickname">
							<a href="/user/Homepage?uid=$reply['ui.uid']">
								$reply['ui.nickname']
							</a>
						</div>
					</div>
				</div>
				<div class="common_layout_column floor_right_column">
					<div class="floor_text">$reply['text']</div>
					<div class="floor_right_bottom">
						<div class="floor_count">$(v['aReplyIter'].c+2)楼</div>
						<div class="floor_time">$v['util'].funs.timeStamp2Str(reply['ctime'])</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
	</div>
	<div class="reply_block">
		<div class="h">发表回复</div>
		<div>
			<textarea id="reply_content" class="reply_content" placeholder="请输入回复内容..."></textarea>
		</div>
		<button id="reply_button" onclick="topic.sendReply()">发送</button>
	</div>
</div>
