$def with(varDict)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/breaking.ico" mce_href="/static/breaking.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/breaking.ico" mce_href="/static/breaking.ico" type="image/x-icon">
    <title>$varDict['title']</title>
    $for styleFile in varDict['styles']
        <link rel="stylesheet" type="text/css" href="/static/css/$styleFile">
    $for jsFile in varDict['js']
        <script language="javascript" src="/static/js/$jsFile"></script>
  </head>
  <body>
  $:varDict['temp']['body']
  </body>
</html>
