$def with(varDict)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/image/breaking.ico" mce_href="/static/image/breaking.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/image/breaking.ico" mce_href="/static/image/breaking.ico" type="image/x-icon">
    <title>$varDict['title']</title>
    $for r in varDict['res']:
      $if 'js' == r['type']:
        <script language="javascript" src="$r['path']"></script>
      $elif 'css' == r['type']:
        <link rel="stylesheet" type="text/css" href="$r['path']" />
  </head>
  <body>
  $:varDict['temp']['body']
  </body>
</html>
