$def with(varDict)

$varDict['res'].add('jdmd_widget','css')
$varDict['res'].add('jquery')
$varDict['res'].add('jdmd_widget')

$varDict['res'].add('problem/AddProblem','css')
$varDict['res'].add('problem/AddProblem')

<div>
	<form action="/problem/AddProblemResult" method="post" enctype="multipart/form-data" >
		<table>
			<tr>
				<td>标题</td>
				<td><input class="jdmd_input" name="title" validate="notempty" /></td>
			</tr>
			<tr>
				<td>time limit</td>
				<td><input class="jdmd_input" name="time_limit" validate="notempty int" />毫秒(ms)</td>
			</tr>
			<tr>
				<td>memory limit</td>
				<td><input class="jdmd_input" name="memory_limit" validate="notempty int" />KB</td>
			</tr>
			<tr>
				<td>description</td>
				<td><textarea name="description" class="jdmd_input" validate="notempty" ></textarea></td>
			</tr>
			<tr>
				<td>input</td>
				<td><textarea name="input" class="jdmd_input" validate="notempty" ></textarea></td>
			</tr>
			<tr>
				<td>output</td>
				<td><textarea name="output" class="jdmd_input" validate="notempty" ></textarea></td>
			</tr>
			<tr>
				<td>sample_input</td>
				<td><textarea name="sample_input" class="jdmd_input" validate="notempty" ></textarea></td>
			</tr>
			<tr>
				<td>sample_output</td>
				<td><textarea name="sample_output" class="jdmd_input" validate="notempty" ></textarea></td>
			</tr>
			<tr>
				<td>提示</td>
				<td><input name="hint" class="jdmd_input" /></td>
			</tr>
			<tr>
				<td>题目来源</td>
				<td><input name="source" class="jdmd_input" /></td>
			</tr>
			<tr class="rundata rundata_sample">
				<td>测试数据<div class="rundata_num">{num}</div></td>
				<td>
					<div class="rundata_indata_upload_block">
						输入数据
						<input
							type="file"
							name="rundata_indata_upload_{num}"
							class="jdmd_input"
							value="indata" />
					</div>
					<div class="rundata_outdata_upload_block">
						输出数据
						<input
							type="file"
							name="rundata_outdata_upload_{num}"
							class="jdmd_input"
							value="outdata" />
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><a href="#" id="add_rundata">增加一组测试数据</a></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<input id="submit_problem" type="submit" value="添加题目" />
	</form>
</div>
