$def with(varDict)

<table border='1'>
	<tr>
		<th>题号</th>
		<th>标题</th>
		<th>添加时间</th>
	</tr>
$for p in varDict['aProblemIter']:
	<tr>
		<td>$p['pnum']</td>
		<td><a href='/problem/Detail?&pnum=$p["pnum"]'>$p['title']</a></td>
		<td>$varDict['c'].ftime(p['addtime'])</td>
	</tr>
</table>

<div>
	<span>第${varDict['currentPage']+1}页</span>
	<span>共$varDict['pageCount']页</span>
</div>
<div>
	$if varDict['currentPage'] > 0:
		<a href='?page=0'>第一页</a>
		<a href='?page=${varDict['currentPage']-1}'>上一页</a>
	$if varDict['currentPage'] +1 < varDict['pageCount']:
		<a href='?page=${varDict['currentPage']+1}'>下一页</a>
		<a href='?page=${varDict['pageCount']-1}'>最后一页</a>
</div>
