$def with(varDict)

$varDict['styles'].append('jdmd_widget.css')
$varDict['js'].append('jquery.js')
$varDict['js'].append('jdmd_widget.js')

$varDict['styles'].append('problem/Submit.css')

<div class="problem_submit">
	<div class="page_title">提交代码</div>
	<div class="problemInfo">
		<div class="pnum">
			<div class="itemname">题号</div>
			<div class="content">$varDict['problemInfo']['pnum']</div>
		</div>
		<div class="title">
			<div class="itemname">题目标题</div>
			<div class="content">$varDict['problemInfo']['title']</div>
		</div>
	</div>
	<form action="/problem/SubmitResult" class="form" method="post">
		<input type='hidden' name='pnum' value="$varDict['problemInfo']['pnum']" />
		<input type='hidden' name='pid' value="$varDict['problemInfo']['pid']" />
		<div class="language">
			<div class="itemname">选择语言</div>
			<select name="language" class="select">
				$for l in varDict['language']:
					<option value="$l">$l</option>
			</select>
		</div>
		<div class="code">
			<div class="itemname">输入代码</div>
			<textarea
				class="textarea jdmd_input"
				name="code"
				validate="min-length:50 max-length:$varDict['code_maxlength']"
			></textarea>
		</div>
		<div class="submit">
			<input type="submit" class="jdmd_validate_submit" />
		</div>
	</form>
</div>
