body{
	background:#C2DDF9;
}
.body_block{
	width: 800px;
	margin: auto;
}
.frontpage{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #DDD;
	background: #F2F5F7;
	padding:1em;
}
.frontpage_block{
	border-radius: 4px;
	border: 2px solid white;
	margin-bottom:10px;
}
.frontpage_content_block{
	padding:10px;
}
.top_img{
	background: url(/static/image/meteor.jpg);
	height: 120px;
	border-radius: 4px;
}
.top_title{
	font-size: 40px;
	color: #CCDE22;
}
.top_title_block{
	padding: 40px;
}
.nav_block{
	width:100px;
	float:left;
	margin:0 10px;
}
.nav_title{
	background-color: #6589D1;
	text-align: center;
}
.nav_block a{
	display:block;
}
.clear{
	clear:both;
}
